

 #form{
  display: flex;
    flex-direction: column;
    margin-bottom:10%;
 }

#form input {
  height: 35px;
    background-color: #C1FFD7;
    color: hsl(183, 100%, 15%);
    background-position: 7px 7px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    outline-style: none;
    outline-color: hsl(172, 67%, 45%);
    padding-left:5%;
    margin-left:3%;
    margin-right:3%;
    margin-bottom:5%;

}

#form input:hover{
    outline-style: auto;
    outline-color: hsl(172, 67%, 45%);
    transition: 0.2s ease-in;
}




.name{
 font-family:'Montserrat',sans-serif;
 line-height:2;
 font-size:1em;
 padding-bottom:1%;
 padding-top:5%;
 padding-left:2%;
}



body{
   width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C1FFD7;
    margin: auto;
  }

  main{
    width: 720px;
    height: 360px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: hsl(0, 0%, 100%);
    place-items: center;
    border-radius: 15px;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0,0, 0, 0.1) 0 3px 4px 0;
}



h1.logo {
  color:hsl(183, 100%, 15%);
  font-family: 'Pacifico', cursive;
  text-align:center;
  font-size: 4em;
  bottom:75%
  }

.use-message{
  line-height:2;
  width:90%;
  margin_top:5%;
  padding-top:5%;
  padding-bottom:10%;
   display: flex;
    flex-direction: column;
  }
.use-message{
  background-color: hsl(183, 100%, 15%);
    border-radius: 5%;
}

.use-message{
 height: 70%;
}

.use-message{
 justify-content: space-around;
}

.about{
  font-family:'Montserrat',sans-serif;
 color:white;
 text-align:center;
 margin-bottom:1%;
 padding-top:5%;
 padding-left:2%;
 padding-right:3%;
}

.space{
    display: flex;
    justify-content: space;
    padding-left:9%;
    padding-top:5%;

}

.space-form{
  display: flex;
    justify-content: space-form;
    padding-bottom:5%;
}




.copy-right{
 font-size: 11px;
 text-align: center;
}

.btn{
 width:70%;
 height:20%;
 margin-left:15%;
}

.btn {
  background: hsl(183, 100%, 15%);
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family:'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 10px;
  padding: 10px;
  text-decoration: none;

}


.btn:hover {
  background: #30EBCB;
  background-image: -webkit-linear-gradient(top, #30EBCB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30EBCB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30EBCB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30EBCB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30EBCB, #2BC4AD);
  text-decoration: none;
}




@media (max-width: 750px){
    main{
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 580px;
        margin-top: 10px;

    }













